* {
    margin: 0;
    padding: 0;
}

#nav {
    width: 101.3%;
    background-image: linear-gradient(rgb(223, 161, 80), rgb(247, 91, 29));
}

#logo img {
    height: 6.5rem;
    width: 12.0rem;
}

#logo {
    text-align: center;
}

#dropdown {
    height: 8.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropdown #but {
    background: none;
    border: none;
    font-size: 2.0rem;
    color: white;
}

#dropdown h3 {
    font-weight: 400;
    text-align: center;
    font-family: 'Lobster', cursive;
    font-family: 'Oswald', sans-serif;
}

#dropdown li {
    /* font-family: 'Lobster', cursive; */
    font-family: sans-serif;
}

#search {
    height: 58px;
    display: flex;
    margin-top: 26px;
    align-items: left;
}

#search #align-search {
    height: 3.5rem;
    width: 30.0rem;
}

#search #btn {
    height: 3.5rem;
}

#logout a {
    text-decoration: none;
    font-size: 2.0rem;
    height: 6.5rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#logout a:hover {
    color: black;
}

#title {
    text-align: center;
}

#editbooks #alignedit {
    margin-left: 85px;
}

#editbooks img {
    width: 18.0rem;
    height: 26.0rem;
    box-shadow: 0 8px 10px -7px black;
}

#trendbook #aligntrend {
    margin-left: 85px;
}

#trendbook img {
    width: 18.5rem;
    box-shadow: 0 8px 10px -7px black;
}

#popularbook #alignpopular {
    margin-left: 30px;
}

#popularbook img {
    width: 18.0rem;
    height: 26.0rem;
    box-shadow: 0 8px 10px -7px black;
}


/* ====================================================== */

.container {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 14px;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #000000a1;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}


/* ================================================================= */

#footer {
    background-image: linear-gradient(rgb(223, 161, 80), rgb(247, 91, 29));
    padding: 30px;
}

.credit {
    font-size: 15px;
}

#footelement,
a {
    list-style: none;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.679);
}

#footelemnt,
a:hover {
    text-decoration: none;
    color: black;
}

#logofoot img {
    height: 6.5rem;
    width: 12.0rem;
}

#logofoot {
    text-align: center;
}


/* ======================media query================================== */

@media screen and (min-width:320px) and (max-width:480px) {
    #nav {
        width: 107%;
        display: block;
    }
    #logo img {
        height: 6.5rem;
        width: 10.0rem;
    }
    #search {
        width: 30.0rem;
        margin-left: 110px;
    }
    #search #align-search {
        height: 3.5rem;
        width: 40.0rem;
    }
    #search #btn {
        height: 3.5rem;
        text-align: center;
    }
    #profile {
        height: 5.5rem;
        font-size: 18px;
        float: right;
    }
    #editbooks img {
        margin-left: -20px;
        height: 140px;
        width: 110px;
    }
    #editbooks #alignedit {
        margin-bottom: 20px;
        float: left;
    }
    .overlay {
        left: -5px;
        width: 91.9%;
    }
    #trendbook #aligntrend {
        margin-bottom: 20px;
        float: left;
    }
    #trendbook img {
        margin-left: -20px;
        height: 140px;
        width: 110px;
    }
    #popularbook #alignpopular {
        margin-bottom: 20px;
        float: left;
    }
    #popularbook img {
        margin-left: 20px;
        height: 140px;
        width: 110px;
    }
    #footer {
        width: 103.993%;
    }
    #logofoot img {
        margin-top: -40px;
        width: 13.0rem;
        height: 7.5rem;
    }
    #footer h2 {
        font-size: 20px;
    }
    .credit {
        font-size: 10px;
    }
    #footer #footelement,
    a,
    span {
        font-size: 8px;
    }
}

@media screen and (min-width:481px) and (max-width:768px) {
    #nav {
        width: 103.9%;
        display: flex;
    }
    #logo img {
        height: 6.5rem;
        width: 10.0rem;
    }
    #search {
        width: 25.0rem;
    }
    #search #align-search {
        height: 2.5rem;
        width: 20.0rem;
    }
    #search #btn {
        height: 2.5rem;
        text-align: center;
    }
    #logout a {
        margin-left: 145px;
    }
    #profile {
        height: 5.5rem;
        font-size: 18px;
        margin-left: 90px;
    }
    #editbooks img {
        margin-left: 20px;
    }
    #editbooks #alignedit {
        margin-bottom: 50px;
        float: left;
    }
    .overlay {
        left: 34px;
        width: 78.9%;
    }
    #trendbook #aligntrend {
        margin-bottom: 50px;
        float: left;
    }
    #trendbook img {
        margin-left: 20px;
    }
    #popularbook #alignpopular {
        margin-left: 85px;
        margin-bottom: 50px;
        float: left;
    }
    #popularbook img {
        margin-left: 20px;
    }
    #footer {
        width: 101.993%;
    }
    #footer .row {
        display: flex;
    }
    #footer h3 {
        font-size: 20px;
    }
    #footer h2 {
        font-size: 20px;
    }
    .credit {
        font-size: 10px;
    }
    #footer #footelement,
    a,
    span {
        font-size: 10px;
    }
    #footelement {
        margin-left: 80px;
    }
    #footer h2,
    span {
        margin-left: 40px;
    }
}

@media screen and (max-width:768px) {
    .col-1 {
        width: 8.33%;
    }
    .col-2 {
        width: 16.66%;
    }
    .col-3 {
        width: 25%;
    }
    .col-4 {
        width: 33.33%;
    }
    .col-5 {
        width: 41.66%;
    }
    .col-6 {
        width: 50%;
    }
    .col-7 {
        width: 58.33%;
    }
    .col-8 {
        width: 66.66%;
    }
    .col-9 {
        width: 75%;
    }
    .col-10 {
        width: 83.33%;
    }
    .col-11 {
        width: 91.66%;
    }
    .col-12 {
        width: 100%;
    }
}